<div class="layout-container">
  <header role="banner" id="header">
    <div class="nav">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-1">
            <div class="nav--lang-nav">
              {{ page.language }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <a href="/">
              <img src="{{ base_path ~ directory }}/logo-bka.jpg" alt="" />
            </a>
          </div>
        </div>
        {% if page.navigation %}
        <div class="row justify-content-end">
          <div class="nav--main-nav">
            <div class="mobile-button">
              <span></span>
            </div>
            {{ page.navigation }}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </header>
  <div id="breadcrumb">
    <div class="container">
      {{ page.breadcrumb }}
    </div>
  </div>

  {{ page.highlighted }}

  {{ page.help }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div class="layout-content">
      {{ page.content }}
    </div>
    {# /.layout-content #}
  </main>

  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 title">
          <b>Barcelona University Alliance</b>
        </div>
      </div>

      <div class="row justify-content-between">
        <div class="col-md-5 col-footer-first">
          {{ page.footer_first_column }}
          <div class="menu-legal">
            {{ page.menu_legal }}
          </div>
        </div>

        <div class="col-md-4">
          <div class="contact-info">
            <h5>{{ "Coordination" | t }}</h5>
          </div>
          <img
            src="{{ base_path ~ directory }}/assets/ub-logo.png"
            alt=""
            width="200px"
          />
        </div>
      </div>
    </div>
  </footer>
</div>
{# /.layout-container #}
